In [216]:
import pandas as pd
import numpy as np

In [217]:
# Cargamos el dataset
DatosUao1 = pd.read_csv(r)
DatosUao2 = pd.read_csv(r)
DatosUao3 = pd.read_csv(r)

In [1]:
DatosUao1.head(5)

In [2]:
DatosUao1[" Humedad (%)"].replace("%","",regex=True,inplace=True)
DatosUao1[" Humedad (%)"] = DatosUao1[" Humedad (%)"].astype(float)
DatosUao1 [" Humedad (%)"] = DatosUao1[" Humedad (%)"].round(2)
DatosUao1.head(5)

In [3]:
DatosUao1[" Temperatura (C)"].replace("C","",regex=True,inplace=True)
DatosUao1[" Temperatura (C)"] = DatosUao1[" Temperatura (C)"].astype(float)
DatosUao1 [" Temperatura (C)"] = DatosUao1[" Temperatura (C)"].round(2)
DatosUao1.head(5)

In [4]:
DatosUao1 = DatosUao1.drop([" Iluminacion"], axis=1,)
DatosUao1.head(5)

In [5]:
def limpieza(df):
    df.drop([" Iluminacion"], axis=1, inplace=True)
    df[" Humedad (%)"].replace("%","",regex=True,inplace=True)
    df[" Humedad (%)"] = df[" Humedad (%)"].astype(float)
    df[" Humedad (%)"] = df[" Humedad (%)"].round(2)
    df[" Temperatura (C)"].replace("C","",regex=True,inplace=True)
    df[" Temperatura (C)"] = df[" Temperatura (C)"].astype(float)
    df[" Temperatura (C)"] = df[" Temperatura (C)"].round(2)

In [223]:
limpieza(DatosUao2)
limpieza(DatosUao3)

In [224]:
DatosUao2.head(5)

     Fecha y hora   Temperatura (C)   Humedad (%)
0  23/10/2022 7:2              24.4          72.2
1  23/10/2022 7:2              24.5          72.4
2  23/10/2022 7:2              24.5          72.8
3  23/10/2022 7:3              24.5          74.2
4  23/10/2022 7:3              24.5          74.7

In [233]:
DatosUao1.to_csv(r"C:\Users\Billy\Desktop\Proyecto data\DatosLimpios\DatoUao1L.csv")
DatosUao2.to_csv(r"C:\Users\Billy\Desktop\Proyecto data\DatosLimpios\DatoUao2L.csv")
DatosUao3.to_csv(r"C:\Users\Billy\Desktop\Proyecto data\DatosLimpios\DatoUao3L.csv")